.note {
  position: relative;
  background-color: #ffffff;
  padding: 10px;
  margin-left: 13px;
  margin-right: 13px;
  border-radius: 4px;
}

.note__text {

}

.note__close-button {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  transform: scaleX(0) scaleY(0);
  cursor: pointer;
  background-color: #eaedef;
  background-image: url("../board/img/close-svgrepo-com.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.note:hover {
  background-color: #f5f6f7;
}

.note:hover .note__close-button {
  transform: scaleX(1) scaleY(1);
}

.note:nth-child(n+2) {
  margin-top: 8px;
}

.note__grabbed {
  position: absolute;
  transform: rotate(3deg);
  z-index: 999;
  pointer-events: none;
}

.note-placeholder {
  padding: 10px;
   margin-left: 13px;
    margin-right: 13px;
    border-radius: 4px;
  background-color: #eaedef;
}